@media (min-width: 1200px) {
    .container {
        width: auto;
    }
}
@media (min-width: 992px) {
    .container {
        width: auto;
    }
}
@media (min-width: 768px) {
    .container {
        width: auto;
    }
}
@media (max-width: 768px) {
    .container {
        width : auto;
        padding-left:0;
        padding-right: 0;
    }
    .container>.navbar-header {
        padding: 0 15px;
    }
    .container > .navbar-collapse {
        padding : 0 30px;
    }
}
.platform-icons_middle {
    display: inline-block;
    vertical-align: middle;
}
.block{
    display: block;
}
.ellipsis {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    word-break: break-all
}