<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>安居客字体平台</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">

    <meta name=description itemprop=description content="IconFonts 安居客字体平台">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <meta name=applicable-device content=mobile>
    <meta content=yes name=apple-touch-fullscreen>
    <meta name=x5-orientation content=portrait>
    <meta name=x5-fullscreen content=auto>
    <meta name=x5-page-mode content=default>
    <link rel=apple-touch-icon href=//pages.anjukestatic.com/kfstouch/touch/img/114anjuke02.gif>
    <link rel="shortcut icon" href=//pages.anjukestatic.com/kfstouch/img/favicon.ico>
    <meta itemprop=image content=//pages.anjukestatic.com/kfstouch/img/anjuke_logo.png>
    <meta itemprop=name content=安居客字体平台客>

    <link rel=stylesheet rev=stylesheet type=text/css href=/relies/bootstrap/css/bootstrap.min.css>
    <link rel=stylesheet rev=stylesheet type=text/css href=/relies/AdminLTE/css/skins/_all-skins.css>
    <link rel=stylesheet rev=stylesheet type=text/css href=/relies/fonts/font-awesome.min.css>
    <link rel=stylesheet rev=stylesheet type=text/css href=/relies/AdminLTE/css/AdminLTE.min.css>
    <link rel=stylesheet rev=stylesheet type=text/css href=/relies/plugins/select2/select2.min.css>
    <link rel=stylesheet rev=stylesheet type=text/css href=/icons/iconfont.css>
    <link href=/static/css/app/css rel=stylesheet></head>
<body>
<div id=app></div>
<script type=text/javascript src=/relies/jquery-1.12.4.min.js></script>
<script type=text/javascript src=/relies/bootstrap/js/bootstrap.min.js></script>
<script type=text/javascript src=/relies/AdminLTE/js/app.min.js></script>
<script type=text/javascript src=/relies/dropzone.min.js></script>
<script type=text/javascript src=/relies/plugins/select2/select2.min.js></script>

<script type=text/javascript src=/static/js/manifest.js></script><script type=text/javascript src=/static/js/vendor.js></script><script type=text/javascript src=/static/js/app.js></script></body>
</html>
